<form action="/favourites" method="POST">
  <button
    type="submit"
    class="flex-1 text-white text-center py-3 px-4 rounded-md transition duration-300 text-sm font-medium"
    style="background-color: #10b981; border: none"
    onmouseover="this.style.backgroundColor='#059669'"
    onmouseout="this.style.backgroundColor='#10b981'"
  >
    Add to favourite
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>
